body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
/* 
  #map {
    height: 400px;
    width: 100%;
   } */

 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 450px;
        width: 100%;
        
        /* padding-top: 10px; */
      }
      /* Optional: Makes the sample page fill the window. */
      /* html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      } */
.footer-height {
  height: 10px;

}

.flex-box {
  display: flex;
  flex-direction: row;
  align-items: center;
   justify-content: center;
}

.flex-1 {
  flex: .4;
  overflow-y: scroll; height:450px;
  flex-wrap: wrap;
  display: flex;
  position: relative;
  
  
}

.card-container {
  position:relative;
}


.customer-card {
  display: inline-block;
    flex-grow: 1;
    min-height: 100px;
    width: calc(100% * (1/3));
}

.flex-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.flex-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.flex-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(71, 70, 70, 0.274);
}

.flex-2 {
  flex: .6;
}

.card-container .customer-card .accept-button {
position: fixed;
bottom: 50;
left: 50;
}

.move-price {
  color: #43ca77;
}

.card .card-content .move-price {
  color: #43ca77;;
}

.description {
  font-weight: bold;
}


